body {
  text-align: center;
  background-color: blueviolet;
}
.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  color: White;
  background-color:black;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
 }
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.activeCard {
  color: red;
  background: pink;
 }
 .Head {
  text-align: center;
  background-color:whitesmoke;
  padding: 40px;
 }
 h1 {
  text-align: center;
   font-size: 80px;
   color: blue;
 }
 h2 {
  text-align: center;
 }